<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CMS.Cms" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="cms" binding="wsHttpBinding" contract="CMS.ICMS" bindingConfiguration="TheBindingConfig" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="TheBindingConfig">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
     
      
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>

          <!--<serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="5d07479f61ddaaca77d0d5bbe56d23c1fa038425"/>
              

          </serviceCredentials>-->

          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="CMS.CustomValidator, CMS"/>
            </clientCertificate>
          </serviceCredentials>
          


          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="https" binding="wsHttpBinding" />
    </protocolMapping>
</system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
</configuration>