<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICMS">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cms/service.svc/cms" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICMS" contract="ICMS"
                name="WSHttpBinding_ICMS" />
        </client>
    </system.serviceModel>
</configuration>