<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILMS" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7979/service.svc/lms" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ILMS" contract="ILMS"
                name="WSHttpBinding_ILMS">
                <identity>
                    <userPrincipalName value="sbennett1@SJRB.AD" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>