<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILMS">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://lms/service.svc/lms" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ILMS" contract="ILMS"
                name="WSHttpBinding_ILMS" />
        </client>
    </system.serviceModel>
</configuration>